.user-bio-wrapper {
    width: 94vw;
    margin: 0 0 5vh 3vw;
    font-weight: bold;

}

.user-fullname {
    margin: 0 0 3vh 3vw;
    color: #6A6E7C;
    font-weight: bold;
}

.user-handle {
    font-size: 4vh;
    padding: 0;
    margin: 1.5vh 0 0 3vw;
    color: #050505;
    font-family: 'Poppins';
}

.user-profile-information {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 100vw;
    text-align: left;
}
