.stripe {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #A7ABB4;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
}

.stripe-horizontal{
    top: 15px;
    transform-origin: left center;
}

.stripe-vertical {
    transform-origin: 0 0;
    transform: rotate(90deg);
    width: 32px;
    margin-left: 21px;
}

.new-post-icon {
    width: 42px;
    height: 32px;
    position: relative;
    transform: rotate(0deg);
    cursor: pointer;
    margin-right: 3vw;
}
