.connection-fullname {
    color: #6A6E7C;
}

.connection-information {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.connection-information img {
    margin-right: 2vw;
}
.connection-name-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 2vh;
}

.connection-wrapper {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.connection-wrapper button {
    margin-right: 3vw;
    height: 3.2vh;
    font-weight: bold;
    font-family: 'Lato';
}

.following {
    padding: 0 4vw 0 4vw;
}
