@keyframes slideInFromTop {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
}

@keyframes slideOutFromBottom {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
}
  
.navigation {
    top: 15vh;
    height: 100vh;
    width: 100vw;
    background-color: #050505;
    position: fixed;
    text-align: left;
    animation: .5s ease-in-out 0s 1 slideInFromTop;
    z-index: 50;
}

.navigation-link-wrapper {
    width: 85vw;
    color: #A7ABB4;
    text-decoration: none;
    font-size: 2.5vh;
    font-weight: bold;
    padding: 1.8vh 0 1.8vh 0;
    border-bottom: solid;
    border-width: 1px;
}

.navigation-menu-wrapper {
    border-top: solid;
    border-color: #A7ABB4;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
