@keyframes slideInFromTop {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
}

/* not using */
@keyframes slideOutFromBottom {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
}
  
.navigation {
    top: 15vh;
    height: 100vh;
    width: 100vw;
    background-color: #050505;
    position: fixed;
    text-align: left;
    animation: .5s ease-in-out 0s 1 slideInFromTop;
    /* animation-direction: reverse; */
    z-index: 50;
}

/* not using  */
.navigation-closed {
    top: 15vh;
    height: 100vh;
    /* max-height: 100vh; */
    width: 100vw;
    background-color: #050505;
    position: fixed;
    display: flex;
    flex-direction: column;
    /* justify-content: left;
    align-items: left; */
    text-align: left;
    /* transition: 15vh 4s; */
    animation: .75s ease-in 0s 1 slideInFromTop;
    animation-direction: reverse;
    /* transition: visibility 0s linear 1s; */
    z-index: 50;
    /* border: #A7ABB4;
    border-style: solid; */
    /* overflow-y: hidden; */
}


.navigation-link-wrapper {
    width: 85vw;
    color: #A7ABB4;
    text-decoration: none;
    font-size: 2.5vh;
    font-weight: bold;
    padding: 1.8vh 0 1.8vh 0;
    border-bottom: solid;
    border-width: 1px;
}

.navigation-menu-wrapper {
    border-top: solid;
    border-color: #A7ABB4;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
