@keyframes reveal {
    80%{
        letter-spacing: 8px;
    }
    100% {
        background-size: 350% 350%;
    }
}

.Header {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(5, 5, 5);
    background: rgba(5, 5, 5, .84);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

.Header-Solid {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #050505;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
}

.invisible-icon {
    width: 42px;
    margin-right: 3vw;
    background: rgb(5, 5, 5);
    background: rgba(5, 5, 5, .84);
}

.logo {
    text-decoration: none;
    color: #E9EAEC;
    font-size: 5vh;
}


@media all and (max-width: 300px) {
    .logo {
        font-size: 3.7vh;
    }
}

@media all and (min-width: 600px) {
    .logo{
        font-size: 8vh;
    }
}
