@keyframes slideInFromBottom {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
}

.caption-input {
    width: 75vw;
    height: 20vh;
    border-radius: 20px;
    font-family: 'Lato', sans-serif;
    margin-top: 5vh;
    padding: 3vh;
    text-indent: 0;
}

.caption-input-wrapper {
    top: 19.8vh;
    height: 100vh;
    width: 100vw;
    background: rgb(5, 5, 5);
    background: rgba(5, 5, 5, .84);
    position: fixed;
    text-align: left;
    animation: .25s ease-in-out 0s 1 slideInFromBottom;
    /* animation-direction: reverse; */
    z-index: 25;
    display: flex;
    flex-direction: column;
    align-items: center;

}