.counts {
    margin: 0 7vw 0 7vw;
}

.counts-column {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #050505;
}

.counts-wrapper {
    font-weight: bold;
    height: 8vh;
    background: #E9EAEC;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}